[submodule "Libraries/slang"]
	path = Libraries/slang
	url = https://github.com/shader-slang/slang.git
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libraries/tinyobjloader"]
	path = Libraries/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
